body /*主页背景统一样式*/
{
	margin: 0px;
	font: 12px/1.5 宋体;
	color: #6f6f6f;
	background:none repeat scroll 0% 0% rgb(246,247,249);
	height: 100%;
	font-family:宋体;
} 
.bodycolor
{
	background:none repeat scroll 0% 0% rgb(246,247,249);
}
input, textarea, select, button
{
	color: #444;
	font: 12px/1.5 宋体,Arial,Tahoma,Helvetica,SimSun,sans-serif,Hei;
		font-size: 10pt;
    padding: 1px 5px;
    border: 1px solid #C0BBB4;
    background: white url('images/bg_input_text.png') top left repeat-x;
    background-position: 0 -1px;
}
.textbox h2
{
	font-size: 12pt;
    COLOR: #124164;
    FONT-WEIGHT: bold;
}
label {
    font-family: 宋体,Arial,Tahoma,Helvetica,SimSun,sans-serif,Hei;
    display: block;
    margin: 0 0 5px;
	font-size:12px;
}
[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], input, select, textarea {
    padding: .5em;
	height: 28px;
    display: inline-block;
    border: 1px solid #ababab;
    vertical-align: middle;
    box-sizing: border-box;
    width: 90%;
	font-size:12px;
    font-family: 宋体,Arial,Tahoma,Helvetica,SimSun,sans-serif,Hei;
	background-color: white;
	background: white url('../images/bg_input_text.png') top left repeat-x;
    background-position: 0 -1px;

}
input:hover, select:hover, textarea:hover{
    border: 1px solid #99CC00;
    background: white url('../images/bg_input_text_hover.png') top left repeat-x;
}
input.BigInput, textarea.BigInput {
    font-size: 10pt;
    padding: 1px 5px;
    border: 1px solid #C0BBB4;
    background: white url('images/bg_input_text.png') top left repeat-x;
    background-position: 0 -1px;
}

select {
    color: black;
    height: 28px;
	padding: 1px;;
    background-color: white;
	
}

.form
{
	padding:0px;
	border: 1px #cccccc solid;
	border-top: 0px #cccccc solid;
	width:800px;
	min-width: 800px;
}
.form h3
{
	padding-top:18px;
	font-size: 14px;
	background:#EEF9FF;
	text-align:center;
	border-top: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	margin-bottom:15px;
}
.content .content__wrap {
	background:none repeat scroll 0% 0% rgb(246,247,249);
}
.form .box25 {
    float: left;
    width: 22%;
	margin-right: 0px;
	margin-left: 23px;
    overflow: hidden;
}
.form .box50 {
    float: left;
    width: 48%;
    margin-right: 0px;
	margin-left: 23px;
    overflow: hidden;
}
.form .box100 .old{
    float: left;
    width: 90%;
    margin-right: 0px;
	margin-left: 23px;
    overflow: hidden;
}
.grid__container--medium {
    width: auto;
    max-width: 800px;
}
.form .islast {
    margin-left: 23px;
	margin-right: 0px;
}
.content [type=button] {
	background-color:transparent;
	color:black;
	font-size: 16px;
}
.content [type=button]:hover {
	border:none;
	background-color:transparent;
	color:black;
	background: url("../images/big_btn_a.png") no-repeat;
	background-position:0px -30px;
}

input.button{
    width: 100px;
    height: 27px !important;
    padding-bottom: 0px;
    color: #36434E;
    background: url("../images/big_btn_a.png") no-repeat;
    border: 0px;
    cursor: pointer;
    font-size: 12pt;
	text-align: center;
	padding-top:0px;
	padding-left:0px;
	padding:0px;
}
	
}






