@CHARSET "UTF-8";
.weui-form-preview__bd {
	color:#000000;
}
body{
	background-color:#F8F8F8;
}
/*置顶按钮*/
.sss_gotop
{
	display:none;
	cursor:pointer;
	position:fixed;
	right:7px;
	bottom:14px;
	padding:8px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	background-color:#EEEEEE;
	border-radius: 20px;
	color:#666666;
}
.sss_gotop:active
{
	
	background-color:#DDDDDD;
}
.page__hd {
    padding: 40px;
}
.page__title {
    text-align: left;
    font-weight: bold;
}
.page__desc {
    margin-top: 5px;
    color: #888;
    text-align: left;
    font-size: 14px;
}
.weui-select {
	height:auto;
	line-height:inherit;
	padding-left:0px;
}
.weui-label
{
	width:125px;
}
