
table
{
	border-collapse:collapse;
	}
iframe
{
	width:100%;
	}
.unread_title
{
	font-weight:bold;

	}
.unread_title a
{
	font-weight:normal;

	}
a.red
{
	color:Red;
	}
.green
{
	color:#42B475;
	}
.gray
{
	color:#666666;
	}
a.green
{
	color:#42B475;
	}
.blue
{
	color:#0466CB;
	}
body
{
	padding-top:15px;
	padding-left:10px;
	}
.mar_top_20
{
	margin-top:20px;
	}
.xuan
{
	width:40px;
	}
.column_bottom_on
{
	float:left;
	margin-right:10px;
	margin-top:5px;
	border: 1px solid #5B99CA;
	background-color:#5B99CA;
	padding-left:10px;
	padding-right:10px;
	cursor: pointer; 
	padding-top:5px;
	padding-bottom:5px;
	color:White;
	}
.column_bottom_off:hover
{
	float:left;
		margin-top:5px;
	margin-right:10px;
	border: 1px solid #5B99CA;
	background-color:#5B99CA;
	padding-left:10px;
	padding-right:10px;
	cursor: pointer; 
	padding-top:5px;
	padding-bottom:5px;
	color:White;
	}
.column_bottom_off
{
	float:left;
		margin-top:5px;
	margin-right:10px;
	border: 1px solid #5B99CA;
	background-color:#A9CDEB;
	padding-left:10px;
	padding-right:10px;
	cursor: pointer; 
	padding-top:5px;
	padding-bottom:5px;
	}

.TableList .TableLine1 td a:hover
{
	color:#338A5A;
	text-decoration:underline;
	}
.TableList tr.TableLine1 td
{
	font-family:ו;
	color:#333333;
	font:20px;
	}
.TableList tr.TableLine1:hover
{
	background-color:#F2F2F2;
	}
.TableList tr.TableLine1 td span.setting
{
	width:32px;
	height:32px;
	cursor:pointer;
	background-image:url('../images/setting.png');
	background-repeat:no-repeat;
	background-position:center center;
	display:inline-block;
	vertical-align:middle;
	}
.TableList tr.TableLine1 td span.setting:hover
{
	background-image:url('../images/setting_on.png');
	}