#date{text-align:center;}
#tcdemo{size:10px;}
.lefta{margin-right:17px;}
.righta{margin-left:17px;}
.aright{margin-left:30px;}
.span{margin-left:15px;}
.top{background-color:#a2c5eb;border-bottom:1px solid #a2c5eb; }
.td {font-size:12px;font-color:#060300;cursor:pointer;width:25%; border:1px solid #fff; background-color:lavender; text-align:center;}
