/*可以在这里添加你自己的css*/
*{
	margin:0px !important;
	padding:0px !important;
}
p{
	margin-top:14px !important;
	font-size:14px;
	line-height:150%;
	
}
body{
	font-size:14px;
	padding-left:10px !important;
	padding-right:5px !important;
	font-family: 微软雅黑, Microsoft Yahei, Hiragino Sans GB, tahoma, arial, 宋体 !important;
}
edui-button-body{
	
}
